* {
    padding: 0;
    margin: 0;
}

:root {
    --side-bar-background: #1992d4;
    --header-background: #ffffff;
    --body-background: #e2e8f0;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 13% 87%;
    grid-template-rows: 20% 80%;

    grid-template-areas: "side-bar header"
                         "side-bar content-body";
}

.header {    
    grid-area: header;
    background-color: var(--header-background);

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 45% 55%;

    grid-template-areas: "search-bar notifications"
                         "user-greeting buttons";
}

.header div {    
    padding: .3rem .5rem;
}

.search-bar {
    grid-area: search-bar;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-input {
    padding: .5rem .8rem;
    font-size: 1rem;
    height: 2rem;
    width: 70%;
    border: solid 1px lightgray;
    text-align: right;
    border-radius: 16px;
    margin-left: 2rem;
    background-color: var(--body-background);
   
    
}

.notifications {
    grid-area: notifications;

    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    padding: 2rem 3rem;

}

.notifications-bell-circle-div {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.user-logo {
    background-color: lightblue;
    border-radius: 50%;
    width: 40px;
    height: 40px;

}

.user-greeting {
    
    grid-area: user-greeting;
    display: flex;
    align-items: center;
    
}

.greeting-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: lightblue;
    margin-left: 6rem;
    margin-right: 3rem;

}

.greeting-text {
    line-height: 1.5rem;    
    font-weight: 600;
}

.buttons {
    grid-area: buttons;
    display: flex;    
    align-items: center;
    justify-content: space-evenly;
}

button {
    padding: .5rem 3rem;
    background-color: var(--side-bar-background);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 22px;
    cursor: pointer;

    transition: 0.2s ease-in;
}

button:hover {
    background-color: #ffffff;
    border: solid 1px var(--side-bar-background);
    color: var(--side-bar-background);
}

.side-bar {    
    grid-area: side-bar;
    background-color: var(--side-bar-background);

    display: flex;
    flex-direction: column;

    color: white;
    padding-left: 1rem;
    padding-top: 1rem;

}

.logo {
    margin-bottom: 3rem;
    font-size: 2rem;
}

.side-bar a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}

.content-body {    
    grid-area: content-body;
    background-color: var(--body-background);

    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.card-div {
    border: solid 1px black;
    width: 75%;
    padding: 1rem;
    margin-right: 3rem;    
}

.card-div-header {
    margin-left: 5rem;
    margin-bottom: 1rem;
}

.card-div-body {
    padding-left: 5rem;
    width: 100%;
    height: 83%;
    display: grid;
    column-gap: 4rem;
    row-gap: 3rem;
    grid-template-columns: 35% 35%;
    grid-template-rows: 30% 30% 30%;


}

.card {    
    border-left: solid 8px goldenrod;
    
    height: 100%;
    padding: .8rem 2rem;
    border-radius: 6px;
    background-color: white;

}

.card-header {
    margin-bottom: 1rem;
}

.card-footer {
    margin-left: 12rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.card-footer p {
    border: solid 1px black;
}

.content-side-bar-div {
    border: solid 1px black;
    width: 20%;
    padding: 1rem;
}